@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

// COLORS
$cl-orange: hsl(25, 97%, 53%);
$cl-white: hsl(0, 0%, 100%);
$cl-light-grey: hsl(217, 12%, 63%);
$cl-medium-grey: hsl(216, 12%, 54%);
$cl-dark-blue: hsl(213, 19%, 18%);
$cl-dark-blue-2: hsl(212, 18%, 14%);
$cl-dark-blue-3: hsl(220, 16%, 11%);
$cl-very-dark-blue: hsl(216, 12%, 8%);

// FONT-FAMILY
$ff-overpass: "Overpass", sans-serif;

// FONT-SIZE
$fs-normal: 1.6rem;

// FONT-WEIGHT
$fw-tiny: 400;
$fw-large: 700;

// MIXINS
@mixin transitionAll {
	transition: all 0.2s;
}
